services:
    app:
        image: dayvis/laravel_inertia_nginx:1.0
        container_name: erp_jlaengenhariaes
        volumes:
           - ./storage/app/public/:/var/www/app/storage/app/public/
        env_file:
            - .env
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.jla_erp.rule=Host(`app.jlaengenhariaes.com.br`)"
            - "traefik.http.routers.jla_erp.entrypoints=https"
            - "traefik.http.routers.jla_erp.tls.certresolver=default"
            - "traefik.http.services.jla_erp.loadbalancer.server.port=80"
        networks:
            - traefik
networks:
    traefik:
        external: true
