services:
  # 1. Serviço principal: App Laravel rodando FrankenPHP
  app:
    # O contexto sobe 2 níveis para chegar na raiz do projeto (onde está o composer.json)
    build:
      context: ../../
      # Aponta de volta para onde o Dockerfile está (relativo à raiz)
      dockerfile: docker/production/Dockerfile

    container_name: jla_erp_app
    restart: unless-stopped

    # Uso de volumes nomeados para dados persistentes (storage)
    # Laravel precisa de permissão de escrita em 'storage' e 'bootstrap/cache' [12, 16].

    env_file:
        - .env
    volumes:
      # Volume nomeado para persistir uploads, logs, etc.
      - laravel-storage-production:/var/www/app/storage

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`app.jlaengenhariaes.com.br`)"
      - "traefik.http.routers.app.entrypoints=https"
      - "traefik.http.routers.app.tls.certresolver=default"
      - "traefik.http.services.app.loadbalancer.server.port=80"

    # Redes (essencial para comunicação interna com outros serviços como DB e Redis)
    networks:
      - traefik
  # 2. Definição dos Volumes Nomeados para persistência
volumes:
  laravel-storage-production:
    # O Docker Compose simplifica a criação e o gerenciamento de volumes nomeados [17, 18]
    driver: local
# 3. Definição da Rede
networks:
  traefik:
    external: true
