services:
  # 1. Serviço principal: App Laravel rodando FrankenPHP
  app:
    image: dayvis/erp_jlaengenharia:1.0
    container_name: jla_erp_app
    volumes:
      # Volume nomeado para persistir uploads, logs, etc.
      - erp_jlaengenhariaes:/var/www/app/storage
      - ../../.env:/var/www/app/.env
    restart: unless-stopped
    command: >
          sh -c "
            echo 'Rodando Migrations...' &&
            php artisan migrate --force &&
            echo 'Limpando e recriando caches...' &&
            php artisan key:generate &&
            php artisan optimize &&
            php artisan view:cache &&
            php artisan config:cache &&
            php artisan route:cache &&
            php artisan ziggy:generate
          "

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jla_erp.rule=Host(`app.jlaengenhariaes.com.br`)"
      - "traefik.http.routers.jla_erp.entrypoints=https"
      - "traefik.http.routers.jla_erp.tls.certresolver=default"
      - "traefik.http.services.jla_erp.loadbalancer.server.port=80"

    # Redes (essencial para comunicação interna com outros serviços como DB e Redis)
    networks:
      - traefik
  # 2. Definição dos Volumes Nomeados para persistência
volumes:
    erp_jlaengenhariaes:
networks:
  traefik:
    external: true
